
    <div class="site-section courses-title" id="courses-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title">Facilities</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section courses-entry-wrap"  data-aos="fade-up" data-aos-delay="100">
      <div class="container">
        <div class="row">

          <div class="owl-carousel col-12 nonloop-block-14">

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="course-single.html"><img src="../public/images/pitch.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <span class="course-price">$20</span>
                <div class="meta"><span class="icon-clock-o"></span>  </div>
                <h3><a href="#">Football Pitch</a></h3>
                <p>Ashesi University </p>
                <p data-aos="fade-up" data-aos-delay="300"><button class="btn btn-primary py-3 px-5 btn-pill booking-card-btn" id="football-pitch">Book Now</button></p>
              </div>
              <div class="d-flex border-top stats">
                <div class="py-3 px-4"><span class="icon-users"></span> 2,193 capacity</div>
                <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> </div>
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="course-single.html"><img src="../public/images/bball.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <span class="course-price">$99</span>
                <div class="meta"><span class="icon-clock-o"></span> </div>
                <h3><a href="#">Basketball court</a></h3>
                <p>University of Ghana, Legon </p>
                <p data-aos="fade-up" data-aos-delay="300"><button class="btn btn-primary py-3 px-5 btn-pill booking-card-btn" id="basketball-court">Book Now</button></p>
              </div>
              <div class="d-flex border-top stats">
                <div class="py-3 px-4"><span class="icon-users"></span> 900 capacity</div>
                <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 2</div>
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="course-single.html"><img src="../public/images/gym.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <span class="course-price">$99</span>
                <div class="meta"><span class="icon-clock-o"></span></div>
                <h3><a href="#">Gym</a></h3>
                <p>Ashesi Univerisity </p>
                <p data-aos="fade-up" data-aos-delay="300"><button class="btn btn-primary py-3 px-5 btn-pill booking-card-btn" id="ashesi-university">Book Now</button></p>
              </div>
              <div class="d-flex border-top stats">
                <div class="py-3 px-4"><span class="icon-users"></span></div>
                <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> </div>
              </div>
            </div>



            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="course-single.html"><img src="../public/images/pool.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <span class="course-price">$20</span>
                <div class="meta"><span class="icon-clock-o"></span></div>
                <h3><a href="#">Swimming pool</a></h3>
                <p>Ghana International School </p>
                <p data-aos="fade-up" data-aos-delay="300"><button class="btn btn-primary py-3 px-5 btn-pill booking-card-btn" id="swimming-pool">Book Now</button></p>
              </div>
              <div class="d-flex border-top stats">
                <div class="py-3 px-4"><span class="icon-users"></span> </div>
                <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> </div>
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="course-single.html"><img src="../public/images/stadium.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <span class="course-price">$80</span>
                <div class="meta"><span class="icon-clock-o"></span></div>
                <h3><a href="#">Stadium</a></h3>
                <p>University of Ghana </p>
                <p data-aos="fade-up" data-aos-delay="300"><button class="btn btn-primary py-3 px-5 btn-pill booking-card-btn" id="stadium">Book Now</button></p>
              </div>
              <div class="d-flex border-top stats">
                <div class="py-3 px-4"><span class="icon-users"></span> Capacity : 2,193 </div>
                <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 2</div>
              </div>
            </div>

            <div class="course bg-white h-100 align-self-stretch">
              <figure class="m-0">
                <a href="course-single.html"><img src="../public/images/table_tennis.jpg" alt="Image" class="img-fluid"></a>
              </figure>
              <div class="course-inner-text py-4 px-4">
                <span class="course-price">$79</span>
                <div class="meta"><span class="icon-clock-o"></span> </div>
                <h3><a href="#">Table Tennis</a></h3>
                <p> Christian High Senior High School </p>
                <p data-aos="fade-up" data-aos-delay="300"><button class="btn btn-primary py-3 px-5 btn-pill booking-card-btn" id="table-tennis">Book Now</button></p>
              </div>
              <div class="d-flex border-top stats">
                <div class="py-3 px-4"><span class="icon-users"></span> </div>
                <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> </div>
              </div>
            </div>

          </div>



        </div>
        <div class="row justify-content-center">
          <div class="col-7 text-center">
            <button class="customPrevBtn btn btn-primary m-1">Prev</button>
            <button class="customNextBtn btn btn-primary m-1">Next</button>
          </div>
        </div>
      </div>
    </div>

