<!DOCTYPE html>
<html lang="en">
  <head>
    {{#if title}}
  <title>{{title}}</title>
    {{else}}
    <title>TURF  &mdash; BOOKING </title>
    {{/if}}
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/jquery-ui.css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/public/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/public/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/public/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/public/css/aos.css">

    <link rel="stylesheet" href="/public/css/oneschoolstyle.css">
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25"><a href="/">TURF Booking</a></div>

          <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">

                
                <li><a href="#home-section" class="nav-link">Home</a></li>
                
                <li><a href="#courses-section" class="nav-link">Facilities</a></li>
                {{#if user}}
          
                <li><a href="#" class="nav-link" data-toggle="modal" data-target="#Dashboard-modal">Dashboard</a></li>
                <li><a href="/logout" class="nav-link">Log Out</a></li>
                {{else}}
                <li><a href="#teachers-section" class="nav-link">Our Team</a></li>
                 <li><a href="/signin" class="nav-link">Sign In</a></li>
                  {{/if}}
              
              
              </ul>
            </nav>
          </div>

          <div class="ml-auto w-25">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                <li class="cta"><a href="#contact-section" class="nav-link"><span>Contact Us</span></a></li>
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>

    </header>

    <div class="intro-section" id="home-section">

      <div class="slide-1" style="background-image: url('/public/images/field_2.jpg');">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row align-items-center">
                <div class="col-lg-6 mb-4">
                  <h1  data-aos="fade-up" data-aos-delay="100">Be Fit</h1>
                  <p class="mb-4"  data-aos="fade-up" data-aos-delay="200">If you can't outplay them outwork them.</p>
                  <p data-aos="fade-up" data-aos-delay="300"><button type="button" class="btn btn-success py-3 px-5 btn-pill" data-toggle="modal" data-target="#booking-modal">Book Now</button></p>

                </div>
          {{#if user}}  

            {{else}}
            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">

                  <form method="post" class="form-box" action='signup'>
                    <h3 class="h4 text-black mb-4">Sign Up</h3>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="username" name='username' required>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Email Addresss" name='email' required>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" name='password' required>
                    </div>
                    <div class="form-group mb-4">
                      <input type="password" class="form-control" placeholder="Re-type Password" name='repeatPassword' required>
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-success btn-pill" value="Sign up">
                    </div>
                  </form>

                </div>

            {{/if}}
            

             

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


<!--  Booking Modal -->
  <div class="modal fade" id="booking-modal" tabindex="-1" role="dialog" aria-labelledby="BookingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Booking Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" id="bookingForm" action="events" >
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Facility Name:</label>
            <input type="text" class="form-control" name="title" required >
            
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Location:</label>
            <input class="form-control" class="form-control is-valid" name="location" required>
            <div class="valid-feedback">
        Looks good!
      </div>
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label">Email:</label>
            <input class="form-control" class="form-control is-valid" name="email" required>
            <div class="valid-feedback">
        Looks good!
      </div>
          </div>
           <div class="form-group">
            <label for="message-text" class="col-form-label">Price:</label>
            <input class="form-control" class="form-control is-valid" name="price" required>
            <div class="valid-feedback">
              Looks good!
              </div>
          </div>
          <div class="form-group">
          <input type="submit" id="bookBtn" onclick="bookBtn();"  class="btn btn-success btn-pill" value="Book">
          
          </div>
        </form>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary btn-pill" value="Book">
      </div>
      -->
    </div>
  </div>
</div>


<!-- Dashborad Modal -->

<!-- Modal Editiranje -->
<div id="uredimodal" class="modal fade" tabindex="-1" role="dialog" id="Dashboard2-modal">
<div class="modal-content" >
        <h4>Dashboard</h4>
        <form method="POST">
            <div class="input-field col s12">
                <label for="email" class="">Naslov Kataloga</label>
                <input id="naslov" name="naslov" class="required validate" aria-required="true" type="text" value="<?php echo $row['naziv']; ?>" required>
            </div>
            <div class="input-field col s12">
                                        <div class="select-wrapper"><span class="caret">▼</span><input class="select-dropdown" readonly="true" data-activates="select-options-cde9ce7d-c5d2-8deb-ad2c-e8a5668916c4" value="Choose your option" style="" type="text"><ul id="select-options-cde9ce7d-c5d2-8deb-ad2c-e8a5668916c4" class="dropdown-content select-dropdown" style="width: 458px; position: absolute; top: 0px; left: 0px; opacity: 1; display: none;">
                                        <li class=""><span>Aktivno</span></li>
                                        <li class=""><span>Neaktivno</span></li></ul>
                                        <select id="status" name="status" class="initialized">
                                            <option value="1">Akivno</option>
                                            <option value="0">Neaktivno</option>
                                        </select></div>
                                        <label>Odaberite status kataloga</label>
                                    </div>

    </div>
    <div class="modal-footer">
    <button type="submit" style="float:right;" class="waves-effect waves-light btn m-b-xs"><i class="material-icons left">input</i>Spremi</button>
    </div>
    </form>
</div>




<!-- Dashboard Modal -->


<div class="modal fade" id="Dashboard-modal" tabindex="-1" role="dialog">
<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          
         <center><h3 class="modal-title">My Bookings</h3></center> 
        </div>
        <div class="modal-body">
<!--		  <h5 class="text-center">Hello. Some text here.</h5> -->
          <table class="table table-striped " id="rankings-table">
            <thead id="tblHead">
              <tr>
                <th>Facilities</th>
                <th>Location</th>
                <th class="text-right">Price</th>
                <th class="text-right">Days left</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Long Island, NY, USA</td>
                <td>UCC</td>
                <td class="text-right">45001</td>
                <td class="text-right">5 days</td>
                <td class="text-right">
                  <button type="button" class="btn btn-primary badge-pill" style="width: 80px;">EDIT</button>
                  <button type="button" class="btn btn-danger badge-pill" style="width: 80px;">DELETE</button>
                </td>
              </tr>
              <tr><td>Chicago, Illinois, USA</td>
                <td>University of Ghana</td>
                <td class="text-right">76455</td>
                <td class="text-right">8 days</td>
              </tr>
              <tr><td>New York, New York, USA</td>
                <td>UMAT</td>
                <td class="text-right">39097</td>
                <td class="text-right">3 days</td>
              </tr>
            </tbody>
          </table>
         
		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Save Changes</button>
        </div>
				
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
